### How Snakemake will run on SBATCH ###
cores: 60
jobs: 10 
latency-wait: 60 
rerun-incomplete: true
retries: 2              
max-jobs-per-second: 2 
executor: slurm


### Env Vars ###
envvars:
  TMPDIR: "/gpfs/fs7/aafc/scratch/$USER/tmpdir"

default-resources:
  - slurm_account=aafc_aac
  - slurm_partition=standard
  - slurm_cluster=gpsc8
  - runtime=60       # minutes
  - mem_mb=4000
  - cpus=1

### Env modules ###
# use-envmodules: false 

### Conda ###
use-conda: true
conda-frontend: mamba   

### Resource scopes ###
set-resource-scopes:
  cores: local 

## Per rule resources
set-resources:
  fastp_pe:
    cpus: 4
    mem_mb: 4000
    runtime: 40
    slurm_partition: standard
    slurm_account: aafc_aac

  bowtie2_align:
    cpus: 24
    mem_mb: 48000
    runtime: 30
    slurm_partition: standard
    slurm_account: aafc_aac

  extract_unmapped_fastq:
    cpus: 24
    mem_mb: 64000
    runtime: 30
    slurm_partition: standard
    slurm_account: aafc_aac

  kraken2:
    cpus: 2
    mem_mb: 840000
    runtime: 120 
    slurm_partition: large
    slurm_account: aafc_aac__large

  bracken:
    cpus: 2
    mem_mb: 4000
    runtime: 10
    slurm_partition: standard
    slurm_account: aafc_aac

  combine_bracken_outputs:
    cpus: 1
    mem_mb: 2000
    runtime: 20
    slurm_partition: standard
    slurm_account: aafc_aac
   
  bracken_extract:
    cpus: 1
    mem_mb: 2000
    runtime: 10
    slurm_partition: standard
    slurm_account: aafc_aac

  rgi_reload_database:
    cpus: 1
    mem_mb: 2000
    runtime: 30
    slurm_partition: standard
    slurm_account: aafc_aac

  rgi_bwt:
    cpus: 4
    mem_mb: 80000
    runtime: 90
    slurm_partition: standard
    slurm_account: aafc_aac
