## For Snakemake to recognize this file it must be named config.yaml.
## Specific information to our HPC configuration has been replaced in this example with <CAPITAL LETTERS>
## Please edit to include the configuration of the cluster you are using

### How Snakemake will run on SBATCH ###
cores: 60
jobs: 10 
latency-wait: 60 
rerun-incomplete: true
retries: 2              
max-jobs-per-second: 2 
executor: slurm

# Prevent rerunning jobs just for Snakefile edits
## flags available [input, mtime, params, software-env, code, resources, none]
rerun-triggers: [input, params, software-env]

### Env Vars ###
envvars:
  TMPDIR: "/<PATH>/<TO>/<SCRATCH>/${USER}/tmpdir"

default-resources:
  - slurm_account=<ACCOUNT_NAME>
  - slurm_partition=<PARTITION_NAME>
  - slurm_cluster=<CLUSTER_NAME>
  - slurm_qos=<QOS_LEVEL>      # e.g., 'low' if jobs are held in queue for long
  - runtime=<RUNTIME_MINUTES>  # e.g., 60
  - mem_mb=<MEMORY_MB>         # e.g., 4000

### Env modules ###
# use-envmodules: false 

### Conda ###
use-conda: true
conda-frontend: mamba   

### Resource scopes ###
set-resource-scopes:
  cores: local 

# Reusable Slurm Blocks (anchors)
# Standard partition/account/cluster used by most rules
_slurm_std: &slurm_std
  slurm_partition: <PARTITION_NAME>
  slurm_account: <ACCOUNT_NAME_standard> # e.g., standard, large memory 
  slurm_cluster: <CLUSTER_NAME>

# Large memory partition/account/cluster used by some rules
_slurm_large: &slurm_large
  slurm_partition: <PARTITION_NAME>
  slurm_account: <ACCOUNT_NAME_large> # e.g., standard, large memory 
  slurm_cluster: <CLUSTER_NAME>

## Per rule resources
set-resources:
  fastp_pe:
    <<: *slurm_std
    mem_mb: 4000
    runtime: 40

  bowtie2_align:
    <<: *slurm_std
    mem_mb: 24000
    runtime: 90

  extract_unmapped_fastq:
    <<: *slurm_std
    mem_mb: 18000
    runtime: 60

  kraken2:
    <<: *slurm_large
    mem_mb: 840000
    runtime: 120

  bracken:
    <<: *slurm_std
    mem_mb: 4000
    runtime: 30

  combine_bracken_outputs:
    <<: *slurm_std
    mem_mb: 6000
    runtime: 90

  clean_host_bracken:
    <<: *slurm_std
    mem_mb: 4000
    runtime: 30

  bracken_recompute_fractions:
    <<: *slurm_std
    mem_mb: 4000
    runtime: 30

  bracken_extract:
    <<: *slurm_std
    mem_mb: 2000
    runtime: 30

  rgi_reload_database:
    <<: *slurm_std
    mem_mb: 2000
    runtime: 30

  rgi_bwt:
    <<: *slurm_large
    mem_mb: 120000
    runtime: 90

  merge_read_pairs:
    <<: *slurm_std
    mem_mb: 500
    runtime: 160

  make_kegg_diamond_db:
    <<: *slurm_std
    mem_mb: 64000
    runtime: 7600
    
  kegg_diamond:
    <<: *slurm_std
    mem_mb: 64000
    runtime: 7600

  count_reads:
    <<: *slurm_std
    mem_mb: 500
    runtime: 30

  gene_ko_abundance:
    <<: *slurm_std
    mem_mb: 8000
    runtime: 160

  minpath:
    <<: *slurm_std
    mem_mb: 4000
    runtime: 240

  aggregate_minpath_pathways:
    <<: *slurm_std
    mem_mb: 4000
    runtime: 160

  kegg_category_sampleIDs:
    <<: *slurm_std
    mem_mb: 4000
    runtime: 30
  
  combine_kegg_category_tables:
    <<: *slurm_std
    mem_mb: 4000
    runtime: 30

  filter_combined_kegg_table:
    <<: *slurm_std
    mem_mb: 4000
    runtime: 30

  megahit_assembly:
    <<: *slurm_std
    mem_mb: 64000
    runtime: 1000

  index_assembly:
    <<: *slurm_std
    mem_mb: 4000
    runtime: 30 
  
  map_reads_to_assembly:
    <<: *slurm_std
    mem_mb: 32000
    runtime: 30

  sample_depth_file:
    <<: *slurm_std
    mem_mb: 4000
    runtime: 30
  
  metabat2_binning:
    <<: *slurm_std
    mem_mb: 128000
    runtime: 240

  checkm2:
    <<: *slurm_large
    mem_mb: 840000
    runtime: 30