### How Snakemake will run on SBATCH ###
cores: 60
jobs: 10 
latency-wait: 60 
rerun-incomplete: true
retries: 2              
max-jobs-per-second: 2 
executor: slurm

# Prevent rerunning jobs just for Snakefile edits
## flags available [input, mtime, params, software-env, code, resources, none]
rerun-triggers: [input, params, software-env]

### Env Vars ###
envvars:
  TMPDIR: "/gpfs/fs7/aafc/scratch/$USER/tmpdir"

default-resources:
  - slurm_account=aafc_aac
  - slurm_partition=standard
  - slurm_cluster=gpsc8
  - slurm_qos=low    #If jobs are held in queue for long.
  - runtime=60       # minutes
  - mem_mb=4000
  - cpus=1

### Env modules ###
# use-envmodules: false 

### Conda ###
use-conda: true
conda-frontend: mamba   

### Resource scopes ###
set-resource-scopes:
  cores: local 

## Per rule resources
set-resources:
  fastp_pe:
    cpus: 4
    mem_mb: 4000
    runtime: 40
    slurm_partition: standard
    slurm_account: aafc_aac
    slurm_cluster: gpsc8

  bowtie2_align:
    cpus: 16
    mem_mb: 24000
    runtime: 90
    slurm_partition: standard
    slurm_account: aafc_aac
    slurm_cluster: gpsc8

  extract_unmapped_fastq:
    cpus: 8
    mem_mb: 18000
    runtime: 60
    slurm_partition: standard
    slurm_account: aafc_aac
    slurm_cluster: gpsc8

  kraken2:
    cpus: 2
    mem_mb: 840000
    runtime: 120 
    slurm_partition: large
    slurm_account: aafc_aac__large
    slurm_cluster: gpsc8

  bracken:
    cpus: 1
    mem_mb: 4000
    runtime: 30
    slurm_partition: standard
    slurm_account: aafc_aac
    slurm_cluster: gpsc8

  combine_bracken_outputs:
    cpus: 1
    mem_mb: 6000
    runtime: 90
    slurm_partition: standard
    slurm_account: aafc_aac
    slurm_cluster: gpsc8

  clean_host_bracken:
    cpus: 1
    mem_mb: 4000
    runtime: 30
    slurm_partition: standard
    slurm_account: aafc_aac
    slurm_cluster: gpsc8

  bracken_recompute_fractions:
    cpus: 1
    mem_mb: 4000
    runtime: 30
    slurm_partition: standard
    slurm_account: aafc_aac
    slurm_cluster: gpsc8

  bracken_extract:
    cpus: 1
    mem_mb: 2000
    runtime: 30
    slurm_partition: standard
    slurm_account: aafc_aac
    slurm_cluster: gpsc8

  rgi_reload_database:
    cpus: 1
    mem_mb: 2000
    runtime: 30
    slurm_partition: standard
    slurm_account: aafc_aac
    slurm_cluster: gpsc8

  rgi_bwt:
    cpus: 4
    mem_mb: 120000
    runtime: 90
    slurm_partition: large
    slurm_account: aafc_aac__large
    slurm_cluster: gpsc8

  merge_read_pairs:
    cpus: 1
    mem_mb: 500
    runtime: 160
    slurm_partition: standard
    slurm_account: aafc_aac
    slurm_cluster: gpsc8

  kegg_diamond:
    cpus: 8
    mem_mb: 64000
    runtime: 7600
    slurm_partition: standard
    slurm_account: aafc_aac
    slurm_cluster: gpsc8

  count_reads:
    cpus: 1
    mem_mb: 500
    runtime: 30
    slurm_partition: standard
    slurm_account: aafc_aac
    slurm_cluster: gpsc8

  gene_ko_abundance:
    cpus: 1
    mem_mb: 8000
    runtime: 160
    slurm_partition: standard
    slurm_account: aafc_aac
    slurm_cluster: gpsc8

  minpath:
    cpus: 1
    mem_mb: 4000
    runtime: 240
    slurm_partition: standard
    slurm_account: aafc_aac
    slurm_cluster: gpsc8

  aggregate_minpath_pathways:
    cpus: 1
    mem_mb: 4000
    runtime: 160
    slurm_partition: standard
    slurm_account: aafc_aac
    slurm_cluster: gpsc8

  megahit_assembly:
    cpus: 16
    mem_mb: 64000
    runtime: 600
    slurm_partition: standard
    slurm_account: aafc_aac
    slurm_cluster: gpsc8

  index_assembly:
    cpus: 8
    mem_mb: 16000
    runtime: 120
    slurm_partition: standard
    slurm_account: aafc_aac
    slurm_cluster: gpsc8 